.title{
    color: #293651;
    font-size: 48px;
    font-weight: bold;
}
.subtitle1{
    color: #00a78e ;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 2pt;
    padding-bottom: 20px;
}
.subtitle2{
    color: #293651;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2pt;
    font-family: sans-serif;
}
.text{
    color: #76778c;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1.2pt;
    line-height: 32px;
    margin-bottom: 40px;
}
.btn{
    background-color: #00a78e;
    border-radius: 5px;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
     }
   *{
       margin-left: 0px;
       padding: 0;
   }
   .parte1{
        margin-left: 80px;
        margin-top: 80px;
        letter-spacing: 1.2px;
        line-height: 20px;
        padding-top: 20px;
   }
   